
*/ {
box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: wheat;
}
.top-header {
    height: 300px;
    width: 850px;
    background-color: blue;
    margin: 0px auto;
}
.nav-bar{
    height: 35px;
    width: 850px;
    background-color: white;
    margin: 0px auto;
}
.face-plant {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: black solid 1px;
    border-radius: 3%;
    position: relative;
    top: -110px;
    left:  70px;

}



