
*/ {
box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: wheat;
}
.top-header {
    height: 300px;
    width: 850px;
    background-color: blue;
    margin: 0px auto;
}
.buttons {
    position: absolute;
    right: 350px;
    top: 260px;

} 
.nav-bar{
    position: relative;
    top: -20px;
    left: 0px;
    height: 40px;
    width: 850px;
    background-color: white;
    margin: 0px auto;
}
ul {
   position: relative;
   left: 130px;
   top: 3px;
   list-style: none;

}
li {
    float: left;
    padding: 2px 5px 2px 5px;
    border-right: 1px solid black;

}
.face-plant {
    margin: 0px auto;
    height: 150px;
    width: 150px;
    background-color: blue;
    border: black solid 1px;
    border-radius: 1.5%;
    position: relative;
    top: -180px;
    left: -340px;

}
h1 {
    position: absolute;
    top: 220px;
    left: 520px;
    margin: 0px;
    color: white;
}
h2 {
    position: absolute;
    top: 250px;
    left: 520px;
    margin: 0px;
    color: white;
}
    
